<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bem-vindo!</title>
  </head>
  <body>
    <h1 th:text="'Olá, ' + ${user.getUsername()}"></h1>
    <form class="" action="/register_page" method="get">
      <button type="submit" name="registerSubmit">Cadastrar professor</button>
    </form>
    <form class="" action="/list" method="get">
      <button type="submit" name="listSubmit">Listar professores disponíveis</button>
    </form>

  </body>
</html>
