<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lista de professores</title>
  </head>
  <body>
    <h1>Lista de professores disponíveis</h1>

    <table>
      <tbody>
        <tr th:each="teacher, itemStat : *{teachers}" th:id="*{teachers[__${itemStat.index}__].getTeacherId()}">
          <td><p th:text="*{teachers[__${itemStat.index}__].getTeacherId()}"></p></td>
          <td><p th:text="*{teachers[__${itemStat.index}__].getName()}"></p></td>
          <td><p th:text="*{teachers[__${itemStat.index}__].getSubject()}"></p></td>
          <td><p th:text="*{teachers[__${itemStat.index}__].getCost()}"></p></td>
          <td><p th:text="*{teachers[__${itemStat.index}__].getEmail()}"></p></td>
          <td><p th:text="*{teachers[__${itemStat.index}__].getPhone()}"></p></td>
          <td>
            <form class="" th:action="@{'/register_page/'} + *{teachers[__${itemStat.index}__].getTeacherId()}" method="post">
              <button type="submit" name="editButton">Editar</button>
            </form>
            <form class="" th:action="@{'/delete/'} + *{teachers[__${itemStat.index}__].getTeacherId()}" method="post">
              <button type="submit" name="deleteButton">Deletar</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
